.login-wrap{
  width: 100%;
  padding-top: 30px;
}

.login-content{
  width: 80%;
  height: 360px;
  margin: 0 auto;
  background: #FFF;
  border-radius: 5px;
}

.login-address-wrap{
  text-align: center;
}

.login-password-wrap{
  text-align: center;
}

.login-content input{
  border: 1px solid #696969;
  border-radius: 3px;
}

.login-address{
  height: 40px;
  width: 90%;
  font-size: 15px;
}

.login-password{
  height: 40px;
  width: 90%;
  font-size: 15px;
}

.login-header{
  height: 50px;
  width: 100%;
  background: #E6E6E6;
}

.login-header h2{
  color: #6E6E6E;
  font-weight: normal;
  font-size: 15px;
  line-height: 50px;
  padding-left: 15px;
}

.login-content h3{
  color: #333;
  font-size: 14px;
  padding: 15px;
}

.login-add-btn-wrap{
  margin-top: 30px;
  text-align: center;
}

.login-add-btn-wrap .login-add-btn{
  width:25%;
  color: #FFF;
  background: #00BFFF;
  height: 40px;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  border-radius: 3px;
}

.change-password{
  width: 50%;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}

.change-password a{
  color: #00BFFF;
  font-size: 13px;
  text-decoration: none;
}

.forget-password{
  width: 50%;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}

.forget-password a{
  color: #00BFFF;
  font-size: 13px;
  text-decoration: none;
}

