

.hide{
  display: none;
}

.main36-folder-btn{
  flex-direction: column;
  display: flex;
}

#folder-name{
  width: 80%;
  height: 40px;
  margin: 15px auto;
}

#submit-folder{
  width: 25%;
  height: 40px;
  margin: 10px auto;
  font-weight: bold;
  background: #00BFFF;
  color: #FFF;
  border-radius: 3px;
  font-size: 13px;
}

#cookieFolder1, #cookieFolder2, #cookieFolder3{
  border-top: 1px solid #BDBDBD;
  width: 100%;
  height: 40px;
  line-height: 40px;
  flex-direction: row;
  display: flex;
}

#cookieFolder-text1, #cookieFolder-text2, #cookieFolder-text3{
  width: 75%;
  color: #696969;
  padding-left:10px ;
}


#delete-folder{
  width: 20%;
  margin: 5px 5px ;
  background: #e83929;
  color: #FFF;
  border-radius: 3px;
}

.main36-task-add{
  margin: 15px 10px;
  display: flex;
  flex-direction: row;
}

#task-name{
  width: 75%;
  height: 40px;
}

#submit-task{
  width: 25%;
  height: 40px;
  margin: 0 20px;
  border-radius: 3px;
  background: #2cb4ad;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
}