@charset "utf-8";

*{
  font-family: sans-serif,'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック';
}

p, h1, h2, h3 {
  margin: 0;
}

html{
    font-size: 62.5%;
}

body{
  margin: 0;
  color: #333;
  font-size: 1.6rem;
}

a{
  text-decoration: none;
  color: #00BFFF;
}

main{
  width: 100vw;
  height: 100vh;
  background: #fbfaf5;
}

ul, li{
  list-style: none;
}

/* アラート */
.alert.alert-danger p{
  padding-left: 40px;
  padding-top: 5px;
}

.alert.alert-danger li,.alert.alert-danger p{
  font-size: 15px;
  color: #ff3333;
}


/* アラート終わり */

/* ヘッダー */

header{
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  top: 0px;
  background: #29C4A0;
  /* background:linear-gradient(135deg, #184e68 0%,#57ca85 100%); */
  /* background-color:#424242; */
  color: #BDBDBD;
  /* line-height: 60px; */
}

header a{
  color: #FFF;
}

.header-wrap{
  height: 100%;
  display: flex;
  flex-direction: row;
}

.header-left{
  box-sizing: border-box;
  height: 100%;
  width: 50%;
}

.header-right{
  box-sizing: border-box;
  height: 100%;
  width: 50%;
}

.header-right-info{
  /* width: 50%; */
  height: 100%;
  float: right;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.header-right-info-item{
  height: 100%;
  color: #FFF;
  font-size: 12px;
  line-height: 60px;
  margin-right: 15px;
}


header h1{
  font-size: 20px;
  font-weight: normal;
  margin-left: 40px;
}

/* ヘッダー終わり */

/* フッター */
footer{
  box-sizing: border-box;
  clear: both;
  width: 100%;
  height: 50px;
  bottom: 0px;
  position: absolute;
  background: #29C4A0;
  color: #fff;
}

.footer-info{
  line-height: 50px;
  text-align: center;
}
/* フッター終わり */

/* メイン */

.main-content{
  padding-top: 10px;
  background: #FFF;
  border-top: solid 1px #BDBDBD;
  border-right: solid 1px #BDBDBD;
  border-left: solid 1px #BDBDBD;
  /* border-radius: 5px; */
}

/* メイン左側 */

.main-left{
  /* width: 40%; */
  padding: 20px 20px 0px;
}

.main-folder{
  border-bottom: #BDBDBD solid 1px;
}


.main-folder-header{
  height: 40px;
  background: #E6E6E6;
}

.main-folder-header h2{
  color: #6E6E6E;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  padding-left: 15px;
}

.main-folder-btn{
  width: 60vw;
  margin: 10px auto 20px;
  text-align: center;
  background-color: rgb(74, 203, 247);
  border: 2px solid #696969;
  border-radius: 5px;
}

.folder-add-btn{
  text-decoration: none;
  color: #FFF;
  font-size: 15px;
  line-height: 40px;
}

.fa-folder-plus{
  width: 10%;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
}

.folder-add-btn p{
  display: inline;
}

.main-folder-list{
  /* height: 40px; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

.main-folder-add{
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  font-size: 14px;
}

.fa-angle-right{
  text-align: center;
  margin:0px 20px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
}

/* .main-folder-select:not(:last-child){
  border-right: 1px solid #BDBDBD;
} */

.main-folder-add.active{
  color: #FFF;
}

.main-folder-select{
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-top: #BDBDBD solid 1px;
}

.main-folder-select.active{
  /* width: 500vw; */
  background: #00CED2;
  color: #FFF;
}

.main-folder-select:not(.active) .fa-trash-alt,.main-folder-select:not(.active) .fa-cog{
  display: none;
}

.main-folder-select:not(.active) .main-folder-delete{
  display: none;
}

.fa-folder{
  text-align: center;
  margin:0px 20px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
}

.main-folder-add-title{
  display: inline;
  width: 80%;
  padding-left: 15px;
}

.main-folder-add:not(.active) .main-folder-add-title{
  width: 100%;
}

.main-folder-delete{
  width: 10%;
  height: 40px;
  margin: 0;
  text-align: center;
  margin: 0px 10px;
}

.fa-trash-alt{
  /* line-height: 40px; */
  font-size: 18px;
  color: red;
}

.fa-cog{
  text-align: center;
  /* width: 10%; */
  /* line-height: 40px; */
  font-size: 18px;
  color: rgba(70, 69, 69, 0.61);
}

.main-folder-list .fa-cog,.main-folder-list .fa-trash-alt{
  line-height: 40px;
}

/* メイン右側 */
.main-right{
  border-radius: 5px;
  padding: 0px 10px 10px;
}

.main-task-header{
  height: 40px;
  background: #E6E6E6;
}

.folder-title .main-folder-add-title{
  width: 100vw;
  line-height: 40px;
  font-size: 15px;
}

.folder-title .main-folder-select:not(.active){
  display: none;
}

.main-task-header h2{
  color: #6E6E6E;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  padding-left: 15px;
}

.main-task-btn{
  width: 60vw;
  margin: 10px auto 20px;
  text-align: center;
  background-color: rgb(74, 203, 247);
  border: 2px solid #696969;
  border-radius: 5px;
}

.task-add-btn{
  text-decoration: none;
  color: #FFF;
  font-size: 15px;
  line-height: 40px;
}

.fa-plus{
  width: 10%;
  line-height: 40px;
  font-size: 15px;
  color: #fff;
}

.task-add-btn p{
  display: inline;
  font-size: 15px;
}

table{
  width: 100%;
  font-size: 13px;
  color: #696969;
}

table tr:not(:first-child){
 font-size: 10px !important;
}

table th{
  padding: 0;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}

table th form{
  margin: 0;
}

.main-task-title{
  width: 50%;
}

.main-task-status{
  width: 15%;
}

.main-task-limit{
  width: 25%;
}

.main-task-delete{
  width: 5%;
  padding: 0 5px;
}

.main-task-edit{
  width: 5%;
  padding: 0 5px;
}

/* .main-task-info-header{
  display: flex;
  flex-direction: row;
  border-top: #BDBDBD solid 1px;
  border-bottom: #BDBDBD solid 1px;
}

.main-task-info-header h3{
  font-size: 15px;
  padding: 5px;
}

.main-task-info-header-right h3{
  padding-left: 20px;
  color: #696969;
}

.main-task-info-header-right h3:last-child{
  padding-left: 60px;
}

.main-task-info-header-left{
  width: 70%;
}

.main-task-info-header-left h3{
  padding-left: 15px;
  color: #696969;
}

.main-task-info-header-right{
  display: flex;
  flex-direction: row;
  width: 40%;
}

.main-task-info-add{
  display: flex;
  flex-direction: row;
  height: 40px;
  border-bottom: 1px solid #BDBDBD;
}

.main-task-info-add-left{
  width: 70%;
}

.main-task-info-add-left p{
  font-size: 13px;
  line-height: 40px;
  padding-left: 15px;
}

.main-task-info-add-right{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-task-info-add-right p{
  font-size: 12px;
} */

.status{
  width: 50px;
  margin:5px auto;
  padding: 5px;
  border-radius: 3px;
  color: #FFF;
  background: #c0c0c0;
}

.status p{
  text-align: center;
}

.status-danger{
  background: #dc143c;
}

.status-info{
  background: #33cc66;
}

.date{
  padding-right:8px;
  line-height: 40px;
}

.edit{
  margin-right: 10px;
  line-height: 40px;
}



#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
    margin: 10px 25px;
    padding: 5px;
    display: inline-block;
    width: 150px;
    height: 40px;
    vertical-align: middle;
    border-radius: 5px;
    border: 2px solid #696969;
    box-sizing: border-box;
    cursor: pointer;
}

.fa-folder-open{  
  font-size: 16px;
  color: #696969;
}

#nav-open p{
  display: inline;
  font-size: 14px;
  color: #696969;
}

/*閉じる用の薄黒カバー*/
#nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る*/
    /* max-width: 330px;最大幅 */
    height: 100%;
    background: #fbfaf5;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
}

#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}


/* ヘッダー ユーザー情報部分 */

#nav-drawer-user {
  position: relative;
}

.nav-content-user-top{
  height: 100%;
  width: 100%;
  text-align: center;
}

.nav-content-user-top p{
  font-size: 12px;
  color: #FFF;
}

.nav-welcome{
  margin-top: 15px;
}

.nav-content-user-bottom{
  height: 100%;
  width: 100%;
  text-align: center;
}

/*アイコンのスペース*/
#nav-open-user {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

.fa-user-circle{
  cursor: pointer;
  line-height: 60px;
  font-size: 30px;
  color: #fff;
}

#nav-open-user p{
  display: inline;
  font-size: 14px;
  color: #696969;
}

/*閉じる用の薄黒カバー*/
#nav-close-user {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}

/*中身*/
#nav-content-user {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;/*最前面に*/
    width: 50%;/*右側に隙間を作る*/
    /* max-width: 330px;最大幅 */
    height: 20%;
    background: #29C4A0;
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(105%);
    transform: translateX(105%);/*左に隠しておく*/
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
}

/*チェックが入ったらもろもろ表示*/
#nav-input-user:checked ~ #nav-close-user {
    display: block;/*カバーを表示*/
    opacity: .5;
}

#nav-input-user:checked ~ #nav-content-user {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}