@charset "utf-8";

p, h1, h2, h3 {
  margin: 0;
}

html{
    font-size: 62.5%;
}

body{
  margin: 0;
  color: #333;
  font-size: 1.6rem;
}

a{
  text-decoration: none;
  color: #00BFFF;
}

main{
<<<<<<< Updated upstream
  width: 100%;
  height: 100%;
  background: #F2F2F2;
=======
  width: 100vw;
  height: 100vh;
  background: #fbfaf5;
>>>>>>> Stashed changes
}

ul, li{
  list-style: none;
}

/* アラート */
.alert.alert-danger p{
  padding-left: 40px;
  padding-top: 5px;
}

.alert.alert-danger li,.alert.alert-danger p{
  font-size: 15px;
  color: #ff3333;
}


/* アラート終わり */

/* ヘッダー */

header{
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  top: 0px;
  background-color:#424242;
  color: #BDBDBD;
  line-height: 60px;
}

.header-wrap{
  height: 100%;
  display: flex;
  flex-direction: row;
}

.header-left{
  box-sizing: border-box;
  height: 100%;
  width: 50%;
}

.header-right{
  box-sizing: border-box;
  height: 100%;
  width: 50%;
}

.header-right-info{
  float: right;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.header-right-info-item{
  color: #FFF;
  font-size: 12px;
}

header h1{
  font-size: 20px;
  font-weight: normal;
  margin-left: 40px;
}

/* ヘッダー終わり */

/* フッター */
footer{
  box-sizing: border-box;
  clear: both;
  width: 100%;
  height: 50px;
  bottom: 0px;
  position: fixed;
  z-index: 99;
  background-color:#424242;
  color: #BDBDBD;
}

.footer-info{
  line-height: 50px;
  text-align: center;
}
/* フッター終わり */

/* メイン */

/* .main-wrap{
  display: flex;
  flex-direction: row;
} */

.main-content{
  padding-top: 10px;
  background: #FFF;
  border-top: solid 1px #BDBDBD;
  border-right: solid 1px #BDBDBD;
  border-left: solid 1px #BDBDBD;
  /* border-radius: 5px; */
}

/* メイン左側 */

.main-left{
  /* width: 40%; */
  padding: 20px 20px 0px;
}


.main-folder-header{
  height: 40px;
  background: #E6E6E6;
}

.main-folder-header h2{
  color: #6E6E6E;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  padding-left: 15px;
}

.main-folder-btn{
  width: 40vw;
  margin: 10px auto 20px;
  text-align: center;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
}

.folder-add-btn{
  display: block;
  text-decoration: none;
  background-color: rgb(74, 203, 247);
  color: #FFF;
  font-size: 15px;
  line-height: 40px;
}

.main-folder-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-folder-add{
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  border-top: #BDBDBD solid 1px;
}

.main-folder-list a:not(:last-child){
  border-right: 1px solid #BDBDBD;
}

.main-folder-add.active{
  width: 500vw;
  background: #00BFFF;
  color: #FFF;
}

.main-folder-add:not(.active) .fa-trash-alt,.main-folder-add:not(.active) .fa-cog{
  display: none;
}

.main-folder-add-title{
  width: 80%;
  text-align: center;
  /* padding-left: 15px; */
}

.main-folder-add:not(.active) .main-folder-add-title{
  width: 100%;
}

.fa-trash-alt{
  text-align: center;
  width: 10%;
  line-height: 40px;
  font-size: 18px;
  color: red;
}

.fa-cog{
  text-align: center;
  width: 10%;
  line-height: 40px;
  float: right;
  font-size: 18px;
  color: rgba(70, 69, 69, 0.61);
}

/* メイン右側 */
.main-right{
  /* width: 60%; */
  padding: 0px 20px 20px;
}

.main-task-header{
  height: 40px;
  background: #E6E6E6;
}

.main-task-header h2{
  color: #6E6E6E;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  padding-left: 15px;
}

.main-task-btn{
  width: 40vw;
  margin: 10px auto 20px;
  text-align: center;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
}

.task-add-btn{
  display: block;
  text-decoration: none;
  background-color: rgb(74, 203, 247);
  color: #FFF;
  font-size: 15px;
  line-height: 40px;
}

.main-task-info-header{
  display: flex;
  flex-direction: row;
  border-top: #BDBDBD solid 1px;
  border-bottom: #BDBDBD solid 1px;
}

.main-task-info-header h3{
  font-size: 15px;
  padding: 5px;
}

.main-task-info-header-right h3{
  padding-left: 20px;
  color: #696969;
}

.main-task-info-header-right h3:last-child{
  padding-left: 60px;
}

.main-task-info-header-left{
  width: 70%;
}

.main-task-info-header-left h3{
  padding-left: 15px;
  color: #696969;
}

.main-task-info-header-right{
  display: flex;
  flex-direction: row;
  width: 40%;
}

.main-task-info-add{
  display: flex;
  flex-direction: row;
  height: 40px;
  border-bottom: 1px solid #BDBDBD;
}

.main-task-info-add-left{
  width: 70%;
}

.main-task-info-add-left p{
  font-size: 14px;
  line-height: 40px;
  padding-left: 15px;
}

.main-task-info-add-right{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-task-info-add-right p{
  font-size: 12px;
}

.status{
  width: 48px;
  font-weight: bold;
  margin:5px;
  padding: 5px;
  border-radius: 3px;
  color: #FFF;
  background: #c0c0c0;
}

.status p{
  text-align: center;
}

.status-danger{
  background: #dc143c;
}

.status-info{
  background: #33cc66;
}

.date{
  padding-right:8px;
  line-height: 40px;
}

.edit{
  margin-right: 10px;
  padding-left: 20px;
  line-height: 40px;
}

